{% extends "mailviewer/base.html" %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        
        {% block list %}
        <!-- 検索フォーム -->
        <h2>検索条件</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>CC</th>
                        <th>受信日</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.subject }}</td>
                        <td>{{ form.sender }}</td>
                        <td>{{ form.recipients }}</td>
                        <td>{{ form.cc }}</td>
                        <td>
                            {{ form.sent_at_from }} ～ {{ form.sent_at_to }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ボタン群 -->
            <div class="button-group">
                <button type="submit" class="btn btn-primary">検索</button>
                <a href="{% url 'mailviewer:input' %}" class="btn btn-success">emlファイル取込</a>
            </div>
        </form>

        <!-- 検索結果一覧 -->
        <h2>検索結果</h2>
        {% if mails %}
            <table class="table" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr style="text-align: center;">
                        <th style="width: 200px;">タイトル</th>
                        <th style="width: 50px;">FROM</th>
                        <th style="width: 50px;">TO</th>
                        <th style="width: 50px;">CC</th>
                        <th style="width: 50px;">受信日</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mail in mails %}
                    <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <td><a href="{% url 'mailviewer:mail_detail' mail.email_id %}" target="_blank">{{ mail.subject|default:"(タイトルなし)" }}</a></td>
                        <td>{{ mail.sender }}</td>
                        <td>{{ mail.recipients }}</td>
                        <td>{{ mail.cc }}</td>
                        <td>{{ mail.sent_at|date:"Y/m/d H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>メールが見つかりません。</p>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>
