body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
    border-bottom: 2px solid #46998d;
}

/* h2タグのスタイル */
h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
    border-bottom: 2px solid #46998d;
}

/* h3タグのスタイル */
h3 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.upload-form {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.upload-form input[type="file"] {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-primary {
    background-color: #3ca280;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #359373; /* darken(#3ca280, 10%) */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #495057;
}

.form-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 5px;
}

.message {
    font-size: 14px;
    color: #dc3545;
    margin: 20px 0;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/* back-linkのスタイル更新 */
.back-link {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    padding: 8px 15px;
    border-radius: 4px;
    display: inline-block;
    background-color: #aaaaaa;
}

.back-link:hover {
    background-color: #999999; /* darken(#aaaaaa, 10%) */
}

.instructions {
    margin: 20px 0;
    padding: 15px;
    background-color: #e2e3e5;
    border-radius: 5px;
}

.instructions h3 {
    margin-top: 0;
    color: #495057;
}

.instructions ul {
    margin: 10px 0;
    padding-left: 20px;
}

/* メール本文のスタイル */
.mail-body {
    white-space: pre-wrap; /* 改行と空白を保持 */
    font-size: 16px;
}

/* a.btnのスタイル更新 */
a.btn {
    color: #3ca280;
    border: 1px solid #3ca280; /* Added border */
    text-decoration: none;
    font-size: 14px;
    padding: 11px 20px; /* Updated padding */
    border-radius: 4px;
    display: inline-block;
}

/* a.btnのホバースタイル追加 */
a.btn:hover {
    background-color: #3ca280;
    color: #f5f5f5;
}
